name: Trivy

on:
  push:
    branches: [test/license-check]

permissions:
  contents: write
#   # Required to upload SARIF file to CodeQL. See: https://github.com/github/codeql-action/issues/2117
#   actions: read
  # Require writing security events to upload SARIF file to security tab
  security-events: write

jobs:
  build:
    name: Build
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run Trivy vulnerability scanner in repo mode
        uses: aquasecurity/trivy-action@0.33.1
        with:
          scan-type: 'fs'
          scanners: 'vuln,secret'
          ignore-unfixed: true
          format: 'sarif'
          output: 'trivy-results.sarif'
          severity: 'CRITICAL,HIGH,MEDIUM'

      - name: Upload Trivy scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: 'trivy-results.sarif'

      - name: Run Trivy in GitHub SBOM mode and submit results to Dependency Graph
        uses: aquasecurity/trivy-action@0.33.1
        with:
          scan-type: 'fs'
          format: 'github'
          output: 'dependency-results.sbom.json'
          scan-ref: '.'
          github-pat: ${{ secrets.GITHUB_TOKEN }}
          skip-setup-trivy: true

      - name: Run Trivy vulnerability scanner on image
        uses: aquasecurity/trivy-action@0.33.1
        with:
          image-ref: 'ghcr.io/traefik/traefik:latest'
        #   format: 'table'
          format: 'template'
          template: "@$HOME/.local/bin/trivy-bin/contrib/html.tpl"
          exit-code: '1'
          ignore-unfixed: true
          vuln-type: 'os,library'
          severity: 'CRITICAL,HIGH'
